@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  overscroll-behavior-y: none;
}

* {
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  display: none;
}

.safe-top {
  padding-top: env(safe-area-inset-top);
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.scrollbar-none {
  scrollbar-width: none;
}
